:where(html, body) {
  min-height: 100%;
}

html {
  display: grid;
  font-size: 1rem;
  font-family: "Red Hat Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--body-color);
  display: grid;
  text-rendering: optimizeSpeed;
  line-height: var(--line-height);

  & > * {
    grid-area: 1/1/-1/-1;
  }
}

:where(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, strong, .strong) {
  font-weight: bolder;
}
:where(h1, .h1) {
  font-size: var(--type-scale-1, 1.802em);
}
:where(h2, .h2) {
  font-size: var(--type-scale-2, 1.602em);
}
:where(h3, .h3) {
  font-size: var(--type-scale-3, 1.424em);
}
:where(h4, .h4) {
  font-size: var(--type-scale-4, 1.266em);
}
:where(h5, .h5) {
  font-size: var(--type-scale-5, 1.125em);
}
:where(h6, .h6) {
  font-size: var(--type-scale-6, 1em);
}
:where(small, .small) {
  font-size: var(--type-scale-small, 0.889em);
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;

  &:visited {
    color: inherit;
  }
}

:where(.btn, button, input[type="submit"]) {
  border: 1px solid currentColor;
  border-radius: 0.375em;
  color: currentColor;
  line-height: 1;
  padding: 0.75em 1.5em;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & > * {
    line-height: 1;
    pointer-events: none;
  }
  & > svg {
    aspect-ratio: 1;
    block-size: 1em;
    vertical-align: -0.1625em;

    & path {
      fill: currentColor;
    }
  }

  &:not([disabled]):not([inert]) {
    cursor: pointer;
  }
  &:focus-visible:not([disabled]):not([inert]) {
    color: var(--link-color);
  }
  &:hover:not([disabled]):not([inert]) {
    box-shadow: 0 0 0 0.125em rgb(var(--state-rgb) / 0.42);
  }

  &[disabled],
  &[inert] {
    opacity: 0.5;
  }
}
.btnGroup {
  border: 1px solid currentColor;
  border-radius: 0.75em;
  display: grid;
  grid-auto-flow: column;

  & > * {
    border: unset;
    border-radius: unset;
    box-shadow: inset 0 0 0 0.5px currentColor;
    margin: -0.5px;
    padding: 0.75em;

    &:first-child {
      border-radius: 0.75em 0 0 0.75em;
    }
    &:last-child {
      border-radius: 0 0.75em 0.75em 0;
    }
  }
}
